<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751486513331-45gva3opn14k8ks7ihp9m6g6l921ac77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751486513331-45gva3opn14k8ks7ihp9m6g6l921ac77</string>
	<key>API_KEY</key>
	<string>AIzaSyD3WWFfdWZLP_ZA7r9AU8VY7AVdvoR89aM</string>
	<key>GCM_SENDER_ID</key>
	<string>751486513331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deveraNewsApplication</string>
	<key>PROJECT_ID</key>
	<string>devera-news-221fa</string>
	<key>STORAGE_BUCKET</key>
	<string>devera-news-221fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751486513331:ios:0daed02617a91bc01340c6</string>
</dict>
</plist>